<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<body>
<th:block th:fragment="footer">
    <footer>
        <div class="container">
            <p>
                This content is provided and maintained by the Ministry of Social Justice and Empowerment(MSJE), Government of India, All Rights Reserved. This website is designed, developed and hosted by NIC.<br />
              <span style="color:#FFF; line-height:22px;">Site is best viewed in 1024x768 resolution.</span>
              
            </p>
        </div>
    </footer>

    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js/}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

</th:block>
</body>
</html>