<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Spring Security Thymeleaf</title>
    
</head>
<body>

    <th:block th:replace="fragments/header :: header"/>
    <div class="container">
    <header th:fragment="site-header" th:remove="tag">
    
        <a href="index.html" th:href="@{/}"><img src="/images/home.png" /></a>
        <a href="index.html" th:href="@{/}">Schemes</a>
        <a href="users/login.html" th:href="@{/users/login}">Contact Us</a>
        <a href="users/register.html" th:href="@{/users/register}">Register</a>
        <a href="posts/index.html" th:href="@{/posts}">Posts</a>
        <a href="posts/create.html" th:href="@{/posts/create}">Create Post</a>
        <a href="users/index.html" th:href="@{/users}">Users</a>
     
</header>
</div>
    <div class="container">
        <th:block layout:fragment="content"/>
    </div>
    <th:block th:replace="fragments/footer :: footer"/>
</body>
</html>