<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="ConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>
				%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FileAppender" class="ch.qos.logback.core.FileAppender">
		<file>/Users/home/pmslog.log</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d{MM:dd HH:mm:ss.SSS} [%t] [%level] [%logger{36}] - %msg%n
			</Pattern>
		</encoder>
	</appender>

    <springProfile name="dev">
		<root level="debug">
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="FileAppender" />
		</root>
	</springProfile>
	<springProfile name="prod">
		<root level="info">
			<appender-ref ref="ConsoleAppender" />
		</root>
	</springProfile>

</configuration>